@model IEnumerable<cmcglynn_bugTracker.Models.CodeFirst.Project>

@{
    ViewBag.Title = "Index";
}
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<h2>Index</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table Id="MyTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                Time Zone
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>Assigned Users</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                    @Html.ToUserTime(item.Created, ViewBag.UserTimeZone as string)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorId)
                </td>
                <td>
                    @foreach (var user in item.Users)
                {
                        <p>@user.FullName</p>
                    }
                </td>

                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                {
                        @Html.ActionLink("Assigned Roles", "Index", "Admin")<br />
                        @Html.ActionLink("Assigned Users", "ProjectUser", new { id = item.Id })<br />
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })<br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })<br />
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id })<br />
                    @Html.ActionLink("Tickets", "Index", "Tickets")

                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>
        $("#MyTable").DataTable();
    </script>
    }
